.book-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.book-item {
  width: 20rem;
  max-width: 95%;
  margin: 0.5rem;
  border-radius: 10px;
}

.book__title {
  font-size: 1.2rem;
  text-align: center;
}

.book__pages {
  text-align: center;
  color: #3e00a1;
  margin-bottom: 0.5rem;
}

.book__description {
  text-align: center;
}

img {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}
