name: github-actions

on:
  push:
    branches: [dev1]
jobs:
  build_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
  install_dependancies_job:
    runs-on: ubuntu-latest
    needs: build_job
      steps:
        - run: npm install
        - run: npm install jest
  run_tests_job:
    runs-on: ubuntu-latest
    needs: install_dependancies_job
      steps:
        - run: npm test
